services:
  syscall-relayer:
    build: .
    container_name: syscall-relayer
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/app/logs
    networks:
      - services-net
    env_file:
      - .env

networks:
  services-net:
    external: true
