services:
  # --- 1. SYSCALL-RELAYER (Backend API) ---
  syscall-relayer:
    build:
      context: ./syscall-relayer
    container_name: syscall-relayer
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./syscall-relayer/logs:/app/logs
    networks:
      - services-net
    env_file:
      - .env

# --- 2. SYSCALL-WEBSITE ---
  syscall-website:
    build:
      context: ./syscall-website
    container_name: syscall-website
    restart: always
    ports:
      - "8090:8090"
    networks:
      - services-net

networks:
  services-net:
    external: true
